<% layout('layouts/boilerplate')%>
<div class="container">
  <a class="card-link btn btn-info mb-3" href="/hotels/<%= hotel._id %>">Back</a>
  <% if(currentUser && hotel.owner.id.equals(currentUser._id)) { %>
  <a class="card-link btn btn-success mb-3" href="/hotels/<%=hotel._id%>/rooms/new">Add Room</a>
  <% } %>
    <nav id="searchNav" class="navbar navbar-expand navbar-light bg-white shadow-sm">
        <div class="container">
          <!-- navbar -->
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <form class="sortForm" action="/hotels/<%= hotel._id %>/rooms" method="GET">
                    <input type="text" name="sortby" value="reviewAvg" class="d-none">
                    <button type="submit" class="dropdown-item">Highest Rated</button>
                  </form>
                  <form class="sortForm" action="/hotels/<%= hotel._id %>/rooms" method="GET">
                    <input type="text" name="sortby" value="reviewCount" class="d-none">
                    <button type="submit" class="dropdown-item">Most Reviewed</button>
                  </form>
                  <form class="sortForm" action="/hotels/<%= hotel._id %>/rooms" method="GET">
                    <input type="text" name="sortby" value="priceLow" class="d-none">
                    <button type="submit" class="dropdown-item">Lowest Price</button>
                  </form>
                  <form class="sortForm" action="/hotels/<%= hotel._id %>/rooms" method="GET">
                    <input type="text" name="sortby" value="priceHigh" class="d-none">
                    <button type="submit" class="dropdown-item">Highest Price</button>
                  </form>
                  <a href="/hotels/<%= hotel._id %>/rooms" href class="dropdown-item">Reset</a>
                </div>
              </li>
            </ul>
            <!-- search rooms -->
            <div class="d-none d-md-block">
              <form action="/hotels/<%= hotel._id %>/rooms" method="GET" class="input-group">
                <input type="text" class="form-control" type="text" name="search" placeholder="Search Rooms..." aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-success border-0" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <div class="container mb-5">
        <div class="d-block d-none d-md-none">
            <% if(noMatch !== null) { %>
                <h3><%= noMatch %></h3>
          <form action="/hotels/<%= hotel._id %>/rooms" method="GET" class="input-group shadow-sm mt-3">
            <input type="text" class="form-control border-0" type="text" name="search" placeholder="Search Rooms..." aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-success border-0" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <% } %>
        </div>
        <!-- show rooms -->
        <div class="row">
    <% for (let room of rooms){%>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow border-0 mt-4">
            <%if(room.images.length > 0) {%>
              <a href="/hotels/<%= hotel._id %>/rooms/<%= room._id %>"><img class="card-img-top index-image" src="<%= room.images[0].url %>"></a>
              <% }else {%>
                <a href="/hotels/<%= hotel._id %>/rooms/<%= room._id %>"><img class="card-img-top index-image" src="https://res.cloudinary.com/djbw8u5ba/image/upload/v1615589199/HotelBooking/depositphotos_247872612-stock-illustration-no-image-available-icon-vector_xkku6t.jpg"></a>
                <% } %>
              <div class="card-body">
                <h5 class="card-title text-capitalize">
                    <a href="/hotels/<%= hotel._id %>/rooms/<%= room._id %>"><%= room.title %></a>
                </h5>
                <h6 class="card-subtitle">
                  <% if(room.reviewCount === 0) { %>
                    <span class="text-muted">No Reviews</span>
                  <% } else { %>
                    <!-- STAR CODE RE-USED FROM: https://github.com/LunarLogic/starability -->
                    <% let stars = ['<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>'] %>
                    <% for(let i = 0; i < Math.round(room.reviewAvg); i++) { %>
                        <% stars[i] = '<i class="fas fa-star text-success "></i>' %>
                    <% } %>
                    <% for(let i = 0; i < stars.length; i++) { %>
                      <%- stars[i] %>
                    <% } %>
                    <% if (room.reviewCount === 1) { %>
                      <span class="text-muted"><%= room.reviewCount %> Review</span>
                    <% } else { %>
                      <span class="text-muted"><%= room.reviewCount %> Reviews</span>
                    <% } %>
                  <% } %>
                  <span class="ml-3">£<%= room.price %>/Night</span>
                </h6>
              </div>
            </div>
          </div>
    <% }%>
  </div>
</div>