<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container"></div>
    <nav id="searchNav" class="navbar navbar-expand navbar-light bg-white shadow-sm">
        <div class="container">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <form class="sortForm" action="/hotels" method="GET">
                    <input type="text" name="sortby" value="rateAvg" class="d-none">
                    <button type="submit" class="dropdown-item">Highest Rated</button>
                  </form>
                  <form class="sortForm" action="/hotels" method="GET">
                    <input type="text" name="sortby" value="rateCount" class="d-none">
                    <button type="submit" class="dropdown-item">Most Reviewed</button>
                  </form>
                  <form class="sortForm" action="/hotels" method="GET">
                    <input type="text" name="sortby" value="priceLow" class="d-none">
                    <button type="submit" class="dropdown-item">Lowest Price</button>
                  </form>
                  <form class="sortForm" action="/hotels" method="GET">
                    <input type="text" name="sortby" value="priceHigh" class="d-none">
                    <button type="submit" class="dropdown-item">Highest Price</button>
                  </form>
                  <a href="/hotels" href class="dropdown-item">Reset</a>
                </div>
              </li>
            </ul>
            <div class="d-none d-md-block">
              <form action="/hotels" method="GET" class="input-group">
                <input type="text" class="form-control" type="text" name="search" placeholder="Search Hotels..." aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-success border-0" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>
    
      <div class="container mb-5">
        <div class="d-block d-none d-md-none">
            <% if(noMatch !== null) { %>
                <h3><%= noMatch %></h3>
          <form action="/hotels" method="GET" class="input-group shadow-sm mt-3">
            <input type="text" class="form-control border-0" type="text" name="search" placeholder="Search Hotels..." aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-success border-0" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <% } %>
        </div>
        <div class="row">
    <% for (let hotel of hotels){%>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow border-0 mt-4">
            <%if(hotel.images.length > 0) {%>
              <a href="/hotels/<%= hotel._id %>"><img class="card-img-top" src="<%= hotel.images[0].url %>"></a>
              <% }else {%>
                <a href="/hotels/<%= hotel._id %>"><img class="card-img-top" src="https://res.cloudinary.com/djbw8u5ba/image/upload/v1614356145/HotelBooking/unvlmlhsrcdkqjvcz3ie.jpg"></a>
                <% } %>
              <div class="card-body">
                <h5 class="card-title text-capitalize">
                    <a href="/hotels/<%= hotel._id %>"><%= hotel.title %></a>
                </h5>
                <h6 class="card-subtitle">
                  <% if(hotel.reviews.length === 0) { %>
                    <span class="text-muted">No Reviews</span>
                  <% } else { %>
                    <% let stars = ['<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>', '<i class="far fa-star text-success "></i>'] %>
                    <% for(let i = 0; i < Math.round(hotel.rateAvg); i++) { %>
                        <% stars[i] = '<i class="fas fa-star text-success "></i>' %>
                    <% } %>
                    <% for(let i = 0; i < stars.length; i++) { %>
                      <%- stars[i] %>
                    <% } %>
                    <% if (hotel.reviews.length === 1) { %>
                      <span class="text-muted"><%= hotel.reviews.length %> Review</span>
                    <% } else { %>
                      <span class="text-muted"><%= hotel.reviews.length %> Reviews</span>
                    <% } %>
                  <% } %>
                  <span class="ml-3">£<%= hotel.price %>/Night</span>
                </h6>
                <!-- <span>£<%= hotel.price %>/Night</span> -->
              </div>
            </div>
          </div>
    <% }%>
  </div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hotels = { features: <%- JSON.stringify(hotels) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>